<!-- MENU -->
<div class="container">
    <div class="row">
        <nav class="nav-center show-on-medium-and-up">
            <div class="nav-wrapper white">
                <!--Logo-->
                <span class="brand-logo right">
                    <i><b style="color:navy; font-size:40px; font-family:Times;">&nbsp; SMS</b></i>
                </span>
                <ul>
                    <li>
                        <a class="black-text" href="#!" onclick="apretaste.send({'command':'SMS'})">
                            <i class="material-icons">home</i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="modalText" class="modal">
            <div class="modal-content">

            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
            </div>
        </div>

        {{APP_TEMPLATE_CODE}}
    </div>
</div>
