<!-- MENU -->
<div class="container">
    <div class="row">
        <div id="modalText" class="modal">
            <div class="modal-content">
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
            </div>
        </div>

        {{APP_TEMPLATE_CODE}}
    </div>
</div>
