<div class="row">
	<div class="col s12">
		<h1>Dinos tu n&uacute;mero de celular</h1>
        <p>Para poder continuar, debe insertar su n&uacute;mero de t&eacute;lefono:</p>
        <div id="input" class="input-field">
            <i class="material-icons prefix">phone</i>
            <input id="cellphone" type="text" maxlength="10" oninput="msgLengthValidateCellphone()">
            <label for="cellphone">Tu n&uacute;mero de celular</label>
            <span class="helper-text-cellphone">Al menos 8 d&iacute;gitos</span>
        </div>
    </div>

    <!-- SUBMIT -->
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="sendCellphone()"><i class="material-icons">send</i></a>
    </div>
</div>