<div class="row">
	<div class="col s12">
		<h1>Enviar SMS</h1>
        <p>Envíe un SMS usando su crédito. Escoja el país, inserte el número de destino y el texto a enviar. El precio de cada SMS es &sect;<%= discount %>.</p>
        <p><b>Usted tiene &sect;<%= credit %> de crédito y con el puede enviar hasta <%= Math.floor(credit/discount) %> SMS</b>. </p>
    </div>
</div>

<!-- cell number -->
<div class="row">
    <div class="input-field col l5 m5 s5">
        <i class="material-icons prefix">language</i>
        <select id = "country">
            <option value="+53">+53 CUB</option>
            <option value="+1">+1 USA</option>
            <option value="+1" >+1 CAN</option>
            <option value="+52" >+52 MEX</option>
        </select>
    </div>
    <div class="col l7 m7 s7">
        <div id="input" class="input-field">
            <i class="material-icons prefix">phone</i>
            <input id="number" type="text" maxlength="15" oninput="msgLengthValidateNumber()" class="validate">
            <label for="number">N&uacute;mero de celular</label>
            <span class="helper-text-number">Restante: 15</span>
        </div>
    </div>
</div>
