<div class="row">
	<div class="col s12">
		<h1>Enviar SMS</h1>
		<div class="row">
			<div class="col l12 m12 s12">
			<p>Envíe un SMS usando su crédito. Escoja el país, inserte el número de destino y el texto a enviar. El precio de cada SMS es &sect;<%= discount %>.</p>
			<p><b>Usted tiene &sect;<%= credit %> de crédito y con el puede enviar hasta <%= credit/discount %> SMS</b>. </p>
			</div>
		</div>
        <div id = "cell-number-section" class="section">
            <!-- cell number -->
            <div class="row">
                <div class="input-field col" style="width:100px;">
                    <select id = "country">
                        <option value="+53">+53 CUB</option>
                        <option value="+1">+1 USA</option>
                        <option value="+1" >+1 CAN</option>
                        <option value="+52" >+52 MEX</option>
                    </select>
                </div>
                <div class="col l7 m7 s7">
                    <div id="input" class="input-field">
                        <i class="material-icons prefix">phone</i>
                        <input id="number" type="text" maxlength="10">
                        <label for="number">N&uacute;mero de celular</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col l12 m12 s12">
                    <div id="input" class="input-field">
                        <i class="material-icons prefix">mode_edit</i>
                        <textarea id="message" class="materialize-textarea" oninput="msgLengthValidate()" maxlength="160"></textarea>
                        <label for="message">Mensaje</label>
                        <span class="helper-text">Restante: 160</span>
                    </div>
                </div>
            </div>

            <!-- SUBMIT -->
            <div class="fixed-action-btn">
                <a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="send()"><i class="material-icons">send</i></a>
            </div>
        </div>
	</div>
</div>
