<div class="row">
	<div class="col s12">
		<h1>Enviar SMS</h1>
        <p>Envíe un SMS usando su crédito. Escoja el país, inserte el número de destino y el texto a enviar. El precio de cada SMS es &sect;<%= discount %>.</p>
        <p><b>Usted tiene &sect;<%= credit %> de crédito y con el puede enviar hasta <%= Math.floor(credit/discount) %> SMS</b>. </p>
    </div>
</div>

