<div class="row">
	<div class="col s12">
		<h1>Bienvenido a enviar SMS</h1>
		<div class="row">
			<div class="col l12 m12 s12">
			<p>Este servicio le permite enviar un SMS usando su cr&eacute;dito de Apretaste.
			   Usted debe insertar el n&uacute;mero de destino
			   y el texto a enviar. Para mandar un SMS internacional, el n&uacute;mero debe
			   comenzar por el c&oacute;digo del pa&iacute;s.</p>

			<p>El precio de cada SMS es &sect;0.10 para mensajes internacionales, y &sect;0.05
			   hacia Cuba. Use el bot&oacute;n de abajo para mandar un SMS.</p>

			<% if (cellphoneRequired) { %>
				<p>Para poder usar el servicio, dinos tu número de celular</p>
				<div id="input" class="input-field">
				<input id="cellphone" type="text">
				<label for="cellphone">Tu n&uacute;mero de celular</label>
			</div>
			<% } %>
			</div>
		</div>

		<!-- cell number -->
		<div class="row">
			<div class="input-field col l2 m2 s2">
				<select class="icons" id = "country">
					<option value="+53" data-icon="/images/flags/cu.png" class="right"></option>
					<option value="+1" data-icon="/images/flags/us.png" class="right"></option>
					<option value="+1" data-icon="/images/flags/ca.png" class="right"></option>
					<option value="+52" data-icon="/images/flags/mx.png" class="right"></option>
				</select>
			</div>
			<div class="col l10 m10 s10">
				<div id="input" class="input-field">
					<input id="number" type="text">
					<label for="number">N&uacute;mero de celular</label>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col l12 m12 s12">
				<div id="input" class="input-field">
					<textarea id="message" class="materialize-textarea"></textarea>
					<label for="message">Mensaje</label>
				</div>
			</div>
		</div>

		<!-- SUBMIT -->
		<div class="fixed-action-btn">
			<a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="send()"><i class="material-icons">send</i></a>
		</div>
	</div>
</div>