<div class="row">
	<div class="col s12 center">
		<h1>¡Desactivado!</h1>
		<i class="material-icons large">sentiment_very_dissatisfied</i>

		<p>Lo sentimos, pero el envío de SMS está temporalmente desactivado.</p>

		<p>Es un reto enorme mantener este servicio funcional. Trabajabamos en una lucha constante con Etecsa bloqueando nuestros SMS o cerrando proveedores de mensajería que envían a Cuba, y cuando todo funciona, los elevados precios de Cubacel nos impiden ofrecer el servicio a los miles que realmente lo necesitan.</p>

		<p>Tenemos que encontrar vías más estables y económicas para enviar mensajes eficientemente. Mientras tenemos que mantener el servicio desactivado. Lo sentimos, sé que para muchos este servicio representa una ventana al mundo; mil disculpas por cerrarla temporalmente.</p>
	</div>
</div>